*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* Layout container */
.admin-container{
    display: flex;
    height: 100vh;
}

/* Sidebar */
.admin-sidebar{
    width: 240px;
    background: linear-gradient(180deg, #ffffff);
    color: rgb(255, 255, 255);
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.admin-sidebar ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.admin-sidebar li{
    margin-bottom: 10px;
}

.admin-sidebar a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    border-radius: 6px;
}

.admin-sidebar a:hover{
    background: #ff0000;
    color: rgb(255, 255, 255);
}

.sidebar-logo{
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-logo img{
    width: 150px;
    height: auto;
}

.sidebar-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li{
    margin-bottom: 18px; /* ระยะห่างแต่ละหัวข้อ */
}

.sidebar-menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    padding: 8px 0;
}

.sidebar-menu a:hover{
    padding-left: 10px;
    opacity: 0.85s;
}

.sidebar-logout{
    margin-top: auto;
}

.sidebar-logout a{
    background: #ff0000;
    padding: 12px;
    border-radius: 8px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.sidebar-logout a:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.menu-title{
    margin-top: 20px;
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 10px;
}

/* Main area */
.admin-main{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f3f4f6;
}

/* Topbar */
.admin-topbar{
    height: 60px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 8px rgb(0, 0, 0,0.05);
}

/* Content */
.admin-content{
    padding: 30px;
    overflow: auto;
}