body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    color: #1f2937;
    background-color: #ffffff;
}

/* ระยะห่างมาตรฐานระหว่าง section */
.section-space{
    margin-bottom: 120px;
}

.machine-section{ /* Background */
    background-color: #c5c5c52a;
    padding: 80px 0;
}

.inline-block{ /* ปุ่มดูรายละเอียด */
    background-color: #ff0000;
}

@media (max-width: 768){
    .section-space{
        margin-bottom: 80px;
    }
}