.footer{
    background: #c5c5c52a;
    color: #000000;
    padding: 60px 20px 30px;
}

.footer-container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-col h4{
    font-size: 18px;
    margin-bottom: 12px;
}

.footer-desc{
    font-size: 14px;
    opacity: 0.85;
}

.footer-logo{
    width: 140px;
    margin-bottom: 12px;
}

.footer-contect li{
    font-size: 14px;
    margin-bottom: 8px;
}
.footer-qr{
    width: 120px;
    border-radius: 8px;
}

.footer-bottom{
    border-top: 1px solid rgba(255,255,255,0.15);
    margin-top: 40px;
    padding-top: 16px;
    text-align: center;
    font-size: 13px;
    opacity: 0.8;
}

/*Responsive*/
@media(max-width: 768px){
    .footer-container{
        grid-template-columns: 1fr;
    }
}