*{
    box-sizing: border-box;
    font-family: 'segoe UI', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ffffff, #f91616);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* กล่องใหญ่ */
.login-container{
    width: 100%;
    max-width: 900px;
    padding: 20px;
}

/* การ์ด */
.login-card{
    display: flex;
    background: #ffffff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
    animation: fadeIN 0.6s ease;
}

/* กล่อง Login ฝั่งซ้าย */
.login-left{
    width: 50%;
    padding: 50px 40px;
}

.login-left h2{
    margin-bottom: 30px;
    color: #991b1b
}

/* input */
.form-group{
    margin-bottom: 18px;
}

.login-left input{
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 14px;
    transition: 0.3s;
}

.login-left input:focus{
    outline: none;
    border-color: #f97316;
    box-shadow: 0 0 0 3px rgba(249,115,22,0.2);
}

/* ปุ่ม */
.login-btn{
    width: 100%;
    padding: 14px;
    background: linear-gradient(90deg, #dc2626, #f97316);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3;
}

/* ฝั่งขวา */
.login-right{
    width: 50%;
    background: linear-gradient(135deg, #dc2626, #f97316);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-right h3{
    font-size: 24px;
    margin: 0;
}

.login-right h3{
    font-size: 24px;
    margin: 0;
}

.login-right p{
    opacity: 0.8;
}

.error{
    background: #fee2e2;
    color: #991b1b;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 13px;
}

/* animation */
@keyframes fadeIN{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}