/* ========== Service Section ========== */

.service-section{
    padding: 120px 20px;
    background: #ffffff;
}

.service-container{
    max-width: 1200px;
    margin: auto;
}

.service-header h2{
    color: #b91c1c;
    font-size: 28px;
    margin-bottom: 8px;
}

.service-header p{
    color: #111;
    font-size: 18px;
}

/*Grid*/

.service-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/*Card*/
.service-card{
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

/* Image */
.service-image img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 16px;

    transition: transform 0.4s ease;
}

/*===== เวลาเอาเมาส์ไปโดนการ์ด รูปจะซูม ===== */
.service-card:hover .service-image img{
    transform: scale(1.08);     /* ซูมเข้า */
}

/*Text*/
.service-card h3{
    font-size: 18px;
    margin-bottom: 8px;
}

.service-desc{
    font-size: 14px;
    color: #555;
    margin-bottom: 16px;
}

/* ===== ปุ่ม Read More ===== */
.service-btn{
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 10px 18px;
    border-radius: 999px;

    background: #ff0000;
    color: #ffffff;

    font-size: 14px;
    text-decoration: none;
    transition: all 0.25s ease;
}

/* hover เปลี่ยนทั้งปุ่ม + ตัวหนังสือ */
.service-btn:hover{
    background: #ffa2a2;
    color: #000000;
}